navbar-transparent {
    
    color: #fff;
}

nav a {
    color: #fff;
}

.navbar-brand {
    margin-right: 5em;
}

#hero {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/wine-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;

}

.fade-1-4 {
    opacity: 0.75;
}

#hero h2{
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 20px;
    line-height: 1.5em;
}

#established {
    text-align: center;
    height: 5em;
}

#established h2 {
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 25px;
}

#signature {
    width: 25%;
}

#hero2 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/wine13.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 50em;
    padding: 15%
}

#hero2 h2 {
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 35px;
}

#hero2 p {
    font-size: 16px;
    line-height: 1.5em;
}

#menu {
    text-align: center;
}

#menu img {
    width: 50%;
}



