body a {
    cursor: pointer;
}

.navbar {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

nav a {
    color: #fff;
}

.navbar-brand {
    margin-right: 5em;
}

.border-anchor {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2)
}

#hero {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/wine-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.fade-1-4 {
    opacity: 0.75;
}

#hero h2 {
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 20px;
    line-height: 1.5em;
}

#established{
    text-align: center;
 
}

#established h3 {
    color: #949494;
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 1.5px;
    padding-top: 14em;
}

#established h2 {
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 25px;
    margin-left: 1em
}

#established p {
    margin-left: 5em;
}

#signature {
    width: 25%;
}

#sweep {
    background: url('../img/wine16.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    padding-bottom: 54em;
}

#hero2 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/wine13.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 20em 5em;
}

#hero2 h2 {
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 30px;
}

#hero2 p {
    font-size: 16px;
    line-height: 1.5em;
}

#menu {
    text-align: center;
    padding-left: 1em;
}

.wine-img {
    width: 70%;
    margin-left: 5em;
}

#menu h2,
#menu p,
#menu a {
    text-align: center;
    margin-left: 1.5em;
}

#menu h2 {
    border-top: 1px solid #cccccc;
    padding: 1em 0 0.5em 1.5em;
    margin-top: 0;
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 25px;
}

#menu p {
    font-family: "Georgia", serif;
    font-style: italic;
    margin-left: 4em;
    margin-bottom: 2em;
}

#menu a {
    background: #91a158;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 1em 4em 1em 4em;
    font-size: 12px;
}