*{
    font-family: "Arial";

}

body {
    width: 1366px;
    margin:auto;
}

a {
    color: #94bc54;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

header p {
    color: #9ca09f;
}

h1, h2, h3{
    font-weight: 100;
}

section {
    background-color: #f2f2f2;
}
#keyboard {
    width: 638px;
    float: left;
    padding: 20px;
}

#keyboard img {
    width: 100%;
}

aside {
    width: 638px;
    height: 151px;
    float: right;
    background-color: #f2f2f2;
}

aside img {
    width:37%;
    margin: 16px;
    
}

aside h2, aside p {
width: 100px;
    
}

aside p {
    font-weight: lighter;
}

#laptop {
    margin-bottom: 30px;
}

#desk {
    margin-bottom: 30px;
}

#window {
    
}

li:before
{
    content: "✓";   
    margin-left: -1em;
    margin-right: .100em;
    color:#94bc54;
}

ul
{
   padding-left: 20px;
   text-indent: 2px;
   list-style: none;
   list-style-position: outside;
}



footer {
    width: 100%;
    clear: both;
    border-top: #f2f2f2;
    border-bottom: #f2f2f2;
}

#profession {
    float: left;
}

#features {
    float: left;
}

#pricing {
    float: left;
}