*{
    font-family: "Arial";
    color: #737373;

}

body {
    width: 1366px;
    margin:auto;
}

a {
    color: #94bc54;
}

header {
    text-align: center;
    padding-left: 336px;
    margin-bottom: 50px;
    width: 54%;
}

header p {
    color: #9ca09f;
}

h1, h2, h3{
    font-weight: 100;
}

section {
    background-color: #f2f2f2;
}
#keyboard {
    width: 638px;
    float: left;
    padding: 20px;
}

#keyboard img {
    width: 100%;
}

aside {
    width: 638px;
    height: 151px;
    float: right;
    background-color: #f2f2f2;
}

aside img {
    width:35%;
    padding: 17px;
    float: left;
    
}

aside h2, aside p {
width: 53%;
float: left;
margin-left: 10px;
margin-bottom: 0;
    
}

aside h2 {
    font-size: 129%;
}

aside p {
    font-weight: lighter;
    line-height: 30px;
}

#laptop {
    margin-bottom: 30px;
}

#desk {
    margin-bottom: 30px;
}

section, aside {
    margin-bottom: 65px;
}

footer {
    width: 100%;
    clear: both;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    line-height: 30px;
    
}

li:before
{
    content: "✓";   
    margin-left: -1em;
    margin-right: .100em;
    color:#94bc54;
}

ul
{
   padding-left: 20px;
   text-indent: 2px;
   list-style: none;
   list-style-position: outside;
margin-top: 0;
    
}

#profession h3, ul, #features h3, ul{
 border-right: 1px solid #f2f2f2;
}

h3 {
    margin-bottom: 0;
    
}

#profession {
    float: left;
    margin-left: 52px;
    width: 380px;
}

#features {
    float: left;
    width: 380px;
    padding-left: 52px;
}

#pricing {
    float: right;
    width: 380px;
    padding-right: 73px;
}

#pricing a {
    float: right;
}