body {
    margin: 0 auto;
    color: #fff;
}

#welcome {
    background: #17cdc0;
    width: auto;
    padding: 15% 0 15% 35%;
}

h1 {
    font-size: 3em;
}

#we-make {
    background: #000;
    width: auto;
    padding: 15% 0 15% 35%;
}

#titles {
    background: #29a7e0;
    width: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

#titles div {
    width: 15%;
    float: left;
    text-align: center;
    margin-right: 5%;
}

h2 {
    font-size: 2em;
    margin-top: 15%;
}

h2,
p {
    width: auto;
    padding-left: 25%;
}

.rectangle {
    padding-top: 15%;
    padding-right: 80%;
    margin-left: 10%;
}

#black {
    background: #000;
}

#black-section {
    padding-left: 10%;
}

#orange {
    background: #f66723;
}

#teal {
    background: #17cdc0;
}

#white {
    background: #fff;
}

.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}

@media (max-width: 767px) {
    #welcome,
    #we-make {
        text-align: left;
        float: left;
        font-size: 56%;
        width: 15%;
        height: 20em;
        padding-top: 19%;
        padding-left: 11%;
        padding-right: 24%;
    }
    #titles {
        clear: both;
    }
    #titles div {
        width: 35%;
        margin: 10% 7% 10% 6%;
    }
    h2,
    p {
        width: 100%;
        padding-left: 13%;
    }
    .rectangle {
        float: left;
        width: 45%;
    }
    #black-section {
        padding: 0;
    }
}