body {
    font-family: 'Open Sans', sans-serif;
 
}

.navbar-brand {
    font-size: 28px;
}

.navbar a {
    color: #fff;
}

a hover {
    cursor: pointer;
}

.navbar-brand {
    margin-right: 210px;
}

#hero {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 20% 20% 20% 40%;
    text-align: center;
    margin-bottom: 10%;
}

#hero p {
    padding-top: 10px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 19px;
}

#about-us {
    padding-bottom: 8%;
}

#about-us h2 {
    padding-top: 15%;
}

#contact-info {
    margin-top: 4%;
    font-weight: 300;
    font-size: 16px;
}

#contact-info a {
    color: #000;   
}

#contact-info a:hover {
    font-style: italic;
    text-decoration: none;
    font-weight: bolder;
}

.address {
    line-height: 75%;
}

#e-mail {
    text-decoration: underline;
}

.services {
    margin-bottom: 10%;
}

.trip-pics {
    margin-top: 5%;
    font-weight: 300;
    text-align: center;
}

.caption {
    margin-top: 1%;
    margin-bottom: 0;
}

.date {
    text-align: right;
    font-weight: bolder;
    margin-bottom: 10%;
}

.services {
    text-align: center;
}

.footer {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/sunset.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 10%;
    color: #fff;
}

.footer h2 {
    margin-bottom: 10%;
}

.footer a {
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    padding: 2%;
    margin-right: 10%;
}

#contact-anchor-bottom {
    padding: 2% 5%;
}



