body {
    background: #f5f5f5;
    margin: 0 auto;
}

#row-1 {
    margin-bottom: 2em;
}
.bg {
    background: #ffff4d;
    padding: 10em 10em 4em 6em;
    
    
}

#large-bulb, #large-flask {
    font-size: 55px;
}

h2 {
    font-family: 'Roboto Slab', serif;
}

p {
    line-height: 22pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 0.2pt;
    color: #000;
    font-size: 14px;
}

.dot {
    padding-left: 5px;
}

.fa-circle-o {
    font-size: 18px;
}

.big-h2 {
    font-size: 22pt;
    line-height: 39pt;
}

.bottom-row {
    margin-top: 2em;
}

.text-field {
    background: #eeeeee;
    padding: 3em;
}

.fa-cloud {
    font-size: 30px;
}

.quad {
    width: 290px;
    height: 278px;
}

.quad h2 {
    font-size: 25px;
    line-height: 40px;
}

.fa-lightbulb-o {
    font-size: 30px;
}

.grey-bg {
    background: #eeeeee;
    padding: 10em 10em 4em 6em
}

#contact {
    background: #ffff4d;
    color: #000;
    text-align: center;
    padding: 2em 
}

